* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    color: #000;
    background-color: #acacff;

}

main {
    background-color: rgba(17, 0, 0, 0.13);
    width: auto;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(168, 166, 166, 0.473);
}

h1 {
    font-size: 2em;
    color: rgb(249, 248, 250);
}

h2 {
    font-size: 1.5em;
    color: rgb(252, 250, 253);
}

img.lado {
    float: right;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(250, 246, 253);
}

a:hover {
    text-decoration: underline;
    color: rgb(26, 26, 255);
}
#cabeçalho{
    clear: both;
    background:rgba(24, 26, 1, 0.473);
    
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(102, 101, 101, 0.473);
}
#container{
    float: both;
    background:rgb(21, 17, 26);
    width: auto;
    height: 640;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.473);
}
#coluna1 {
    float: left;
    background:rgb(133, 36, 224);
    width: auto;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.473);
}
#coluna2 {
    float: right;
    background:rgb(32, 201, 32);
    width: auto;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.473);
}

#rodape {
    clear: both;
    background:rgba(24, 26, 1, 0.473);
    
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(102, 101, 101, 0.473);
}